h2 {
  background-color:  rgba(123, 8, 8, 0.807);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  border: 2px solid rgb(0, 0, 0);
  text-decoration: underline;
  display: inline-block;
  padding: 5px;
  height: 30px;
  width: 600px;
  justify-content: center;
  border-radius: 10px;
}

.underlined-heading {
  text-decoration: underline;
  border-radius: 10px;
}

body {
  background-color: rgba(220, 218, 218, 0.815);
  color: rgb(93, 54, 21);
}

h1 {
  display:flex;
  justify-content: center;
  background-color: rgba(123, 8, 8, 0.807);
  border: 5px solid rgb(71, 66, 62);
  border-radius: 10px;
  color: white;
}



.Text_BOX {
  text-align: end;
  background-color: rgba(255, 255, 255, 0.773);
  color: rgb(0, 0, 0);
  text-align:justify;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 23px;
  border: 7px solid  rgba(123, 8, 8, 0.807);
  display: inline-block;
  padding: 20px;
  height: 500px;
  width:600px;
  justify-content: center;
  border-radius: 10px;
}

.image-left1 
{
  float: right;
  margin-left: 10px; /* Add some space between image and text */
}

.Text_BOX2 {
  text-align: end;
  background-color: rgba(255, 255, 255, 0.773);
  color: rgb(0, 0, 0);
  text-align:justify;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 23px;
  border: 7px solid  rgba(123, 8, 8, 0.807);
  display: inline-block;
  padding: 20px;
  height: 650px;
  width:600px;
  justify-content: center;
  border-radius: 10px;
}

.image-left2 
{
  float: left;
  margin-right: 10px; /* Add some space between image and text */
}

.Text_BOX3 {
  text-align: end;
  background-color: rgba(255, 255, 255, 0.773);
  color: rgb(0, 0, 0);
  text-align:justify;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 23px;
  border: 7px solid  rgba(123, 8, 8, 0.807);
  display: inline-block;
  padding: 20px;
  height: 500px;
  width: 600px;
  justify-content: center;
  border-radius: 10px;
}

image-left3 
{
  float: left;
  margin-right: 10px; /* Add some space between image and text */
}

.Text_BOX4 {
  text-align: end;
  background-color: rgba(255, 255, 255, 0.773);
  color: rgb(0, 0, 0);
  text-align:justify;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 32px;
  border: 7px solid  rgba(123, 8, 8, 0.807);
  display: inline-block;
  padding: 20px;
  height: 670px;
  width:600px;
  justify-content: center;
  border-radius: 10px;
}

.image-left4
{
  float:left;
  margin-right: 10px; /* Add some space between image and text */
}

.Text_BOX6 {
  text-align: end;
  background-color: rgba(255, 255, 255, 0.773);
  color: rgb(0, 0, 0);
  text-align:justify;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 32px;
  border: 7px solid  rgba(123, 8, 8, 0.807);
  display: inline-block;
  padding: 20px;
  height: 500px;
  width:600px;
  justify-content: center;
  border-radius: 10px;
}

.image-left6
{
  float:left;
  margin-right: 10px; /* Add some space between image and text */
}